Repository 0xMBL/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @aneesharaines, @mrmr1993, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers, @psteckler, @MinaProtocol/mina-foundation-eng, @MinaProtocol/crypto-eng-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @aneesharaines @mrmr1993
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/CODE_OF_CONDUCT.md @aneesharaines
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @aneesharaines
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/graphql_schema.json @MinaProtocol/product-eng-reviewers @MinaProtocol/protocol-qa-reviewers

/src/external/ @bkase @psteckler @aneesharaines @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers @MinaProtocol/protocol-qa-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/archive_blocks/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/extract_blocks/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/patch_archive_test/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/replayer/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/itn_orchestrator/ @MinaProtocol/protocol-eng-reviewers
/src/app/rosetta/ @MinaProtocol/mina-foundation-eng
/src/app/test_executive/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/zkapp_test_transaction/ @MinaProtocol/protocol-qa-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/libp2p_ipc/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/test/ @MinaProtocol/protocol-qa-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles_base/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles_types/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/promise @MinaProtocol/protocol-eng-reviewers @MinaProtocol/product-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarkyjs/ @MinaProtocol/product-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers

Handle non-existent accounts in preload
  src/lib/merkle_mask/masking_merkle_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Use all in docker solution for archive migration tests
  buildkite/scripts/hardfork-archive-migration-tests.sh
  buildkite/scripts/hardfork-tests.sh
  buildkite/scripts/hardfork_mainnet_test.sh
  buildkite/scripts/hardfork_random_test.sh
  dockerfiles/Dockerfile-mina-test-suite
  scripts/generate-hardfork-archive-migration-data.sh
  scripts/rebuild-deb.sh
  src/test/hardfork/archive_migration_tests/archive_migration_tests.ml
  src/test/hardfork/archive_migration_tests/ci.json
  src/test/hardfork/archive_migration_tests/dev.json
  src/test/hardfork/archive_migration_tests/dune
  src/test/hardfork/archive_migration_tests/settings.ml
  src/test/hardfork/archive_migration_tests/sql.ml
  src/test/hardfork/archive_migration_tests/steps.ml
  src/test/hardfork/archive_migration_tests/temp_dir.ml
  src/test/hardfork/berkeley_migration_data_verifier/berkeley_migration_data_verifier.ml
  src/test/hardfork/berkeley_migration_data_verifier/dune
  src/test/hardfork/berkeley_migration_data_verifier/sql.ml
  src/test/hardfork/dummy_mainnet_data/dump.sql
  src/test/hardfork/hardfork_tests/build.json
  src/test/hardfork/hardfork_tests/ci.json
  src/test/hardfork/hardfork_tests/docker_manager.ml
  src/test/hardfork/hardfork_tests/dune
  src/test/hardfork/hardfork_tests/dune.json
  src/test/hardfork/hardfork_tests/hardfork_tests.ml
  src/test/hardfork/hardfork_tests/settings.ml
  src/test/hardfork/hardfork_tests/sql.ml
  src/test/hardfork/hardfork_tests/steps.ml
  src/test/hardfork/hardfork_tests/temp_dir.ml
  src/test/hardfork/test_data/random_migration/dump.sql
  src/test/hardfork/test_data/random_migration/genesis_ledger.json
  src/test/hardfork/test_data/random_migration/ledger_at_end.json
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

remove verifier test app from builds
  buildkite/scripts/build-artifact.sh
Owners: @MinaProtocol/infra-eng-reviewers

remove junk
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix path in deb
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix run test script and fix docker entrypoint
  buildkite/scripts/hardfork-archive-migration-tests.sh
  dockerfiles/Dockerfile-mina-test-suite
Owners: @MinaProtocol/infra-eng-reviewers

Handle inability to contact metrics server on forwarding
  src/lib/mina_metrics/prometheus_metrics/dune
  src/lib/mina_metrics/prometheus_metrics/mina_metrics.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix share libs
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

install libjemalloc2
  dockerfiles/Dockerfile-mina-test-suite
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix localhost reference
  buildkite/scripts/hardfork-archive-migration-tests.sh
  src/test/hardfork/archive_migration_tests/steps.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix path to script
  buildkite/src/Jobs/Test/HardforkTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

fix depends on
  buildkite/src/Jobs/Test/HardforkTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

fix dockers
  buildkite/src/Jobs/Test/HardforkTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

fix paths to scripts
  buildkite/scripts/hardfork-archive-migration-tests.sh
  src/test/hardfork/archive_migration_tests/ci.json
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Child_processes: ensure stderr/stdout get flushed
  src/lib/child_processes/child_processes.ml
  src/lib/mina_net2/libp2p_helper.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix import mainnet dump
  buildkite/scripts/hardfork-archive-migration-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

do not create db twice
  buildkite/scripts/hardfork-archive-migration-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

update db
  src/app/replayer/test/archive_db.sql
  src/app/replayer/test/input.json
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Removed now unnecessary section related to database bootstrapping
  helm/ci-dashboard/README.md
Owners: none

Creating a placeholder for the CI Dashboard based on the zkApp Dashboard
  helm/ci-dashboard/.helmignore
  helm/ci-dashboard/Chart.lock
  helm/ci-dashboard/Chart.yaml
  helm/ci-dashboard/README.md
  helm/ci-dashboard/_img/ci-metrics-cronjob-architecture.svg
  helm/ci-dashboard/charts/postgresql-12.1.8.tgz
  helm/ci-dashboard/files/buildkite/buildkite.py
  helm/ci-dashboard/files/buildkite/requirements.txt
  helm/ci-dashboard/files/github/github.py
  helm/ci-dashboard/files/github/requirements.txt
  helm/ci-dashboard/templates/_helpers.tpl
  helm/ci-dashboard/templates/ci-cron.yaml
  helm/ci-dashboard/templates/sources-scripts-configmaps.yaml
  helm/ci-dashboard/templates/sources-token-secrets.yaml
  helm/ci-dashboard/values.yaml
Owners: none

Ensuring read values are float
  helm/ci-dashboard/files/dbPusher/dbPusher.py
Owners: none

Completed the set of metrics required by PoC
  helm/ci-dashboard/files/buildkite/buildkite.py
  helm/ci-dashboard/templates/ci-cron.yaml
  helm/ci-dashboard/values.yaml
Owners: none

Increasing interval between runs
  helm/ci-dashboard/values.yaml
Owners: none

Updating doc and removing unnecessary dump of psql connection ref
  helm/ci-dashboard/README.md
  helm/ci-dashboard/templates/ci-cron.yaml
Owners: none

Switched to storing scripts in Secrets as the B64 encoding prevents YAML renderer issues in Helm. Included Buildkite metrics. AOK
  helm/ci-dashboard/files/buildkite/buildkite.py
  helm/ci-dashboard/templates/_helpers.tpl
  helm/ci-dashboard/templates/ci-cron.yaml
  helm/ci-dashboard/templates/scripts-secrets.yaml
  helm/ci-dashboard/templates/sources-scripts-configmaps.yaml
  helm/ci-dashboard/values.yaml
Owners: none

Adding Buildkite script
  helm/ci-dashboard/files/buildkite/buildkite.py
  helm/ci-dashboard/files/buildkite/requirements.txt
Owners: none

Ensuring only numembers are dumped
  helm/ci-dashboard/files/buildkite/buildkite.py
Owners: none

Introducing InfluxDB as a replacement to postgresql
  helm/ci-dashboard/Chart.lock
  helm/ci-dashboard/Chart.yaml
  helm/ci-dashboard/charts/influxdb-5.11.0.tgz
  helm/ci-dashboard/charts/postgresql-12.1.8.tgz
  helm/ci-dashboard/files/dbPusher/dbPusher.py
  helm/ci-dashboard/files/dbPusher/requirements.txt
  helm/ci-dashboard/templates/_helpers.tpl
  helm/ci-dashboard/templates/ci-cron.yaml
  helm/ci-dashboard/templates/db-pusher-scripts-secret.yaml
  helm/ci-dashboard/values.yaml
Owners: none

Updated documentation to reflect current state
  helm/ci-dashboard/README.md
  helm/ci-dashboard/_img/ci-metrics-cronjob-architecture.svg
Owners: none

trigger replayer test
  buildkite/src/Jobs/Test/ReplayerTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

another fix
  buildkite/scripts/hardfork-archive-migration-tests.sh
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fix comma
  buildkite/src/Jobs/Test/ReplayerTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

add tag
  buildkite/src/Jobs/Test/ReplayerTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

remove exe from apps name
  src/test/hardfork/archive_migration_tests/ci.json
Owners: @MinaProtocol/protocol-qa-reviewers

Optimized Github retriever by using PyGithub library
  helm/ci-dashboard/files/github/github.py
  helm/ci-dashboard/files/github/githubber.py
  helm/ci-dashboard/files/github/requirements.txt
  helm/ci-dashboard/values.yaml
Owners: none

properly copy
  buildkite/scripts/hardfork-archive-migration-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

use docker instead of debs
  buildkite/scripts/replayer-test.sh
  scripts/replayer-test.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add volume
  buildkite/scripts/hardfork-archive-migration-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

fix docker
  buildkite/scripts/replayer-test.sh
Owners: @MinaProtocol/infra-eng-reviewers

run outside of docker
  buildkite/src/Command/ReplayerTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers
