Repository 0xMBL/mina, changes with the owners that CODEOWNERS names for each.
All owners: @nholland94, @bkase, @aneesharaines, @mrmr1993, @MinaProtocol/infra-eng-reviewers, @MinaProtocol/product-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers, @psteckler, @MinaProtocol/mina-foundation-eng, @MinaProtocol/crypto-eng-reviewers

Better test structure
  src/app/test_executive/slot_tx_end_test.ml
  src/lib/mina_graphql/mina_graphql.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-qa-reviewers, @MinaProtocol/product-eng-reviewers

Change build configs
  src/config/integration_tests.mlh
  src/config/integration_tests_slot_tx_end.mlh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Remove CLI configuration flags. Use compile config directly.
  src/app/cli/src/cli_entrypoint/mina_cli_entrypoint.ml
  src/lib/block_producer/block_producer.ml
  src/lib/block_producer/test/block_producer_test.ml
  src/lib/ledger_catchup/ledger_catchup.ml
  src/lib/ledger_catchup/ledger_catchup.mli
  src/lib/ledger_catchup/normal_catchup.ml
  src/lib/ledger_catchup/super_catchup.ml
  src/lib/mina_graphql/dune
  src/lib/mina_graphql/mina_graphql.ml
  src/lib/mina_intf/transition_frontier_components_intf.ml
  src/lib/mina_lib/config.ml
  src/lib/mina_lib/mina_lib.ml
  src/lib/transition_frontier_controller/transition_frontier_controller.ml
  src/lib/transition_handler/dune
  src/lib/transition_handler/validator.ml
  src/lib/transition_router/transition_router.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers, @MinaProtocol/product-eng-reviewers

Adjustments to block production and validation. Add notifications
  src/lib/block_producer/block_producer.ml
  src/lib/ledger_catchup/normal_catchup.ml
  src/lib/ledger_catchup/super_catchup.ml
  src/lib/transition_handler/validator.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

enable ReplayerTest job to explore potential failures
  buildkite/scripts/replayer-test.sh
  buildkite/src/Jobs/Test/ReplayerTest.dhall
Owners: @MinaProtocol/infra-eng-reviewers

reuse test replayer script
  buildkite/scripts/replayer-test.sh
  scripts/replayer-test.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add sudo
  buildkite/scripts/replayer-test.sh
Owners: @MinaProtocol/infra-eng-reviewers

Pickles: alcotest module Wrap
  src/lib/pickles/test/main.ml
  src/lib/pickles/test/test_wrap.ml
  src/lib/pickles/wrap.ml
  src/lib/pickles/wrap.mli
Owners: @MinaProtocol/crypto-eng-reviewers

Pickles: rm unit tests in Wrap
  src/lib/pickles/wrap.ml
Owners: @MinaProtocol/crypto-eng-reviewers

fix parameter name
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

Update run-test-executive.sh
  buildkite/scripts/run-test-executive.sh
Owners: @MinaProtocol/infra-eng-reviewers

push lightnet or instrumented to different repositories
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add service suffix
  buildkite/src/Jobs/Release/MinaArtifactBullseyInstrumented.dhall
  scripts/rebuild-deb.sh
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

catchup latest develop changes to local integration lib
  src/lib/integration_test_local_engine/docker_compose.ml
  src/lib/integration_test_local_engine/docker_network.ml
  src/lib/integration_test_local_engine/docker_node_config.ml
  src/lib/integration_test_local_engine/docker_pipe_log_engine.ml
  src/lib/integration_test_local_engine/docker_pipe_log_engine.mli
  src/lib/integration_test_local_engine/integration_test_local_engine.ml
  src/lib/integration_test_local_engine/mina_docker.ml
  src/lib/integration_test_local_engine/swarm_network.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

wip
  src/lib/integration_test_local_engine/docker_network.ml
  src/lib/integration_test_local_engine/docker_pipe_log_engine.ml
  src/lib/integration_test_local_engine/mina_docker.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Small package of fixes for migration process
  src/app/berkeley_migration/berkeley_migration.ml
  src/app/berkeley_migration/precomputed_block.ml
  src/lib/base58_check/version_bytes.ml
  src/lib/blake2/blake2.ml
  src/lib/blake2/intf.ml
  src/lib/transaction/transaction_hash.ml
  src/lib/transaction/transaction_hash.mli
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers, @MinaProtocol/crypto-eng-reviewers

fix mina artifact
  buildkite/src/Command/MinaArtifact.dhall
Owners: @MinaProtocol/infra-eng-reviewers

commment replayer comparision
  scripts/rebuild-deb.sh
  src/test/hardfork/hardfork_tests/hardfork_tests.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix syntax
  src/test/hardfork/hardfork_tests/hardfork_tests.ml
Owners: @MinaProtocol/protocol-qa-reviewers

block producers making blocks
  src/lib/integration_test_local_engine/docker_compose.ml
  src/lib/integration_test_local_engine/docker_network.ml
  src/lib/integration_test_local_engine/docker_node_config.ml
  src/lib/integration_test_local_engine/mina_docker.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

get nodes connecting (snark worker and coordinator)
  src/lib/integration_test_local_engine/docker_compose.ml
  src/lib/integration_test_local_engine/docker_node_config.ml
  src/lib/integration_test_local_engine/mina_docker.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix random data test
  src/test/hardfork/dummy_mainnet_data/dump.sql
  src/test/hardfork/hardfork_tests/hardfork_tests.ml
Owners: @MinaProtocol/protocol-qa-reviewers

archive nodes and postgres connection work
  src/lib/integration_test_local_engine/docker_compose.ml
  src/lib/integration_test_local_engine/docker_network.ml
  src/lib/integration_test_local_engine/docker_node_config.ml
  src/lib/integration_test_local_engine/mina_docker.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

added berkeley migration docker
  buildkite/src/Command/MinaArtifact.dhall
  dockerfiles/Dockerfile-berkeley-migration
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

add docker context
  scripts/release-docker.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

replace dockers with current mina-deb-verion in ci
  buildkite/scripts/hardfork-tests.sh
  src/test/hardfork/hardfork_tests/ci.json
  src/test/hardfork/hardfork_tests/hardfork_tests.ml
  src/test/hardfork/hardfork_tests/steps.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix settings
  src/test/hardfork/hardfork_tests/settings.ml
Owners: @MinaProtocol/protocol-qa-reviewers

fix checkout path
  buildkite/scripts/hardfork-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

use new data in replayer tests
  scripts/replayer-test.sh
  src/app/replayer/test/input.json
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

fix rest of test
  buildkite/scripts/hardfork-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

do not require deamon dependencies
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

fixes and add debug logs
  src/lib/integration_test_lib/graphql_requests.ml
  src/lib/integration_test_lib/wait_condition.ml
  src/lib/integration_test_local_engine/docker_network.ml
  src/lib/integration_test_local_engine/docker_node_config.ml
  src/lib/integration_test_local_engine/docker_pipe_log_engine.ml
  src/lib/integration_test_local_engine/mina_docker.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

add some wait before check liquid balance
  src/app/test_executive/hard_fork.ml
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

set git env vars
  buildkite/scripts/hardfork-tests.sh
Owners: @MinaProtocol/infra-eng-reviewers

remove deps form mina-test-suite
  scripts/rebuild-deb.sh
Owners: @MinaProtocol/infra-eng-reviewers, @MinaProtocol/protocol-eng-reviewers

Remove shifting functionality
  docs/specs/types_and_structures/common.md
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/crypto/kimchi_backend/pasta/basic/kimchi_pasta_basic.ml
  src/lib/crypto/kimchi_bindings/stubs/kimchi_types.ml
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fp_plonk_verifier_index.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_proof.rs
  src/lib/crypto/kimchi_bindings/stubs/src/pasta_fq_plonk_verifier_index.rs
  src/lib/pickles/common.ml
  src/lib/pickles/proof_cache.ml
  src/lib/pickles/side_loaded_verification_key.ml
  src/lib/pickles/step_main_inputs.ml
  src/lib/pickles/step_verifier.ml
  src/lib/pickles/util.ml
  src/lib/pickles/verification_key.ml
  src/lib/pickles/wrap_main_inputs.ml
  src/lib/pickles/wrap_verifier.ml
  src/lib/pickles_types/pcs_batch.ml
  src/lib/pickles_types/plonk_types.ml
  src/lib/pickles_types/plonk_types.mli
Owners: @MinaProtocol/crypto-eng-reviewers

Fix
  src/lib/crypto/kimchi_bindings/stubs/src/srs.rs
Owners: @MinaProtocol/crypto-eng-reviewers

Removing shifts WIP
  src/lib/crypto/kimchi_backend/common/dlog_plonk_based_keypair.ml
  src/lib/crypto/kimchi_backend/common/plonk_dlog_proof.ml
  src/lib/crypto/kimchi_backend/common/poly_comm.ml
  src/lib/crypto/kimchi_backend/pasta/basic/kimchi_pasta_basic.ml
  src/lib/crypto/kimchi_bindings/stubs/kimchi_types.ml
  src/lib/pickles/common.ml
  src/lib/pickles/step_verifier.ml
  src/lib/pickles/type.mli
  src/lib/pickles/util.ml
  src/lib/pickles/wrap_verifier.ml
  src/lib/pickles_types/pcs_batch.ml
  src/lib/pickles_types/pcs_batch.mli
  src/lib/pickles_types/plonk_types.ml
  src/lib/pickles_types/plonk_types.mli
Owners: @MinaProtocol/crypto-eng-reviewers

Optimize calculation of ledger hashes
  src/lib/merkle_mask/masking_merkle_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

Do not recompute hashes on ledger commit
  src/lib/merkle_ledger/any_ledger.ml
  src/lib/merkle_ledger/base_ledger_intf.ml
  src/lib/merkle_ledger/null_ledger.ml
  src/lib/merkle_ledger/util.ml
  src/lib/merkle_mask/maskable_merkle_tree.ml
  src/lib/merkle_mask/masking_merkle_tree.ml
Owners: @MinaProtocol/protocol-eng-reviewers, @MinaProtocol/protocol-qa-reviewers

CODEOWNERS:

/CODEOWNERS @nholland94 @bkase @aneesharaines @mrmr1993
/buildkite @MinaProtocol/infra-eng-reviewers
/frontend/ @MinaProtocol/product-eng-reviewers
/dockerfiles/ @MinaProtocol/infra-eng-reviewers
/scripts/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers
/Makefile @MinaProtocol/infra-eng-reviewers
/src/config/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/CODE_OF_CONDUCT.md @aneesharaines
/CONTRIBUTING.md @MinaProtocol/product-eng-reviewers
/LICENSE @aneesharaines
/README.md @MinaProtocol/product-eng-reviewers
/README-dev.md @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/graphql_schema.json @MinaProtocol/product-eng-reviewers @MinaProtocol/protocol-qa-reviewers

/src/external/ @bkase @psteckler @aneesharaines @mrmr1993

/src/app/archive @MinaProtocol/product-eng-reviewers @MinaProtocol/protocol-qa-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/cli/src/mina.ml @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/cli/src/init @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/libp2p_helper @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/reformat/ @MinaProtocol/infra-eng-reviewers
/src/app/trace-tool/ @MinaProtocol/protocol-eng-reviewers
/src/app/runtime_genesis_ledger/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/archive_blocks/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/extract_blocks/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/patch_archive_test/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/replayer/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/itn_orchestrator/ @MinaProtocol/protocol-eng-reviewers
/src/app/rosetta/ @MinaProtocol/mina-foundation-eng
/src/app/test_executive/ @MinaProtocol/infra-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/app/zkapp_test_transaction/ @MinaProtocol/protocol-qa-reviewers

/src/lib/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/libp2p_ipc/ @MinaProtocol/protocol-eng-reviewers @MinaProtocol/protocol-qa-reviewers
/src/test/ @MinaProtocol/protocol-qa-reviewers

/src/lib/blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/cli_lib/ @MinaProtocol/product-eng-reviewers
/src/lib/mina_commands @MinaProtocol/product-eng-reviewers
/src/lib/mina_graphql @MinaProtocol/product-eng-reviewers
/src/lib/mina_numbers/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crs/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto_params/ @MinaProtocol/crypto-eng-reviewers
/src/lib/crypto @MinaProtocol/crypto-eng-reviewers
/src/lib/dummy_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/hash_prefixes/ @MinaProtocol/crypto-eng-reviewers
/src/lib/non_zero_curve_point/ @MinaProtocol/crypto-eng-reviewers
/src/lib/outside_hash_image/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles_base/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles_types/ @MinaProtocol/crypto-eng-reviewers
/src/lib/pickles/ @MinaProtocol/crypto-eng-reviewers
/src/lib/precomputed_values/ @MinaProtocol/crypto-eng-reviewers
/src/lib/promise @MinaProtocol/protocol-eng-reviewers @MinaProtocol/product-eng-reviewers
/src/lib/sha256_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/signature_lib/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_blake2/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_curves/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_field_extensions/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarky_group_map/ @MinaProtocol/crypto-eng-reviewers
/src/lib/snarkyjs/ @MinaProtocol/product-eng-reviewers
/src/lib/snarky_log/ @MinaProtocol/crypto-eng-reviewers
/src/lib/unsigned_extended/ @MinaProtocol/crypto-eng-reviewers

/src/nonconsensus @MinaProtocol/protocol-eng-reviewers
